<form class="column one-third-tablet push-one-third-tablet" style="background: white;padding: 1em;border-radius: .15em;box-shadow: 0 0 .5em #81e181;">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <a href="javascript: void(0);" id="submit" class="btn btn-default">Submit</a>
    <a href="javascript: void(0);" id="cancel" class="btn btn-danger">Cancel</a>
</form>