<tr>
    <td colspan="2">
        <ul class="pagination">
            {{#each this}}
            <li {{#if disabled}}class="disabled"{{/if}} {{#if active}}class="active"{{/if}}>
                <a data-page="{{page}}" repeater-action="goto" href="javascript: void(0);">
                    <span aria-hidden="true">{{text}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </td>
</tr>