$border-radius: 3px;

$primary-background: rgb(0, 51, 102);
$primary-border: rgb(0, 26, 51);
$primary-text: rgb(239, 247, 255);

$positive-background: rgb(0, 102, 10);
$positive-border: rgb(0, 24, 2);
$positive-text: rgb(220, 255, 223);

$negative-background: rgb(255, 200, 209);
$negative-border: rgb(122, 0, 19);
$negative-text: rgb(63, 0, 10);

$focused-outline: rgb(0, 120, 239);

$accent-light: rgb(244, 122, 0);
$accent-dark: rgb(167, 83, 0);
