div.vellum {
	background:transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#65000000,endColorstr=#65000000);
	background: rgba(0, 0, 0, .65);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
    
    &.dialog-vellum {
        z-index: 100000;
    }
    
    &.wait-vellum {
        z-index: 200000;
    }
}