@import "espalier.variables";

.message-container {
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    overflow: hidden;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid #444;
        box-shadow: rgba(65, 65, 65, .9) 0 0 7px;
        z-index: 10000;
    }

    &.flow {
        border: 1px solid #444;
    }

    p {
        margin: 1em;
        padding: 0;
    }

    a.close-message {
        box-sizing: border-box;
        background: $color-error no-repeat center center;
        background-image: url('data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxwYXRoIGQ9Ik0xNC4zNDggMTQuODQ5Yy0wLjQ2OSAwLjQ2OS0xLjIyOSAwLjQ2OS0xLjY5NyAwbC0yLjY1MS0zLjAzMC0yLjY1MSAzLjAyOWMtMC40NjkgMC40NjktMS4yMjkgMC40NjktMS42OTcgMC0wLjQ2OS0wLjQ2OS0wLjQ2OS0xLjIyOSAwLTEuNjk3bDIuNzU4LTMuMTUtMi43NTktMy4xNTJjLTAuNDY5LTAuNDY5LTAuNDY5LTEuMjI4IDAtMS42OTdzMS4yMjgtMC40NjkgMS42OTcgMGwyLjY1MiAzLjAzMSAyLjY1MS0zLjAzMWMwLjQ2OS0wLjQ2OSAxLjIyOC0wLjQ2OSAxLjY5NyAwczAuNDY5IDEuMjI5IDAgMS42OTdsLTIuNzU4IDMuMTUyIDIuNzU4IDMuMTVjMC40NjkgMC40NjkgMC40NjkgMS4yMjkgMCAxLjY5OHoiIGZpbGw9IiM2MTE3MTUiPjwvcGF0aD48L3N2Zz4=');
        background-size: cover;
        border: 1px solid $color-error-dark;
        transition: box-shadow .1s;
        box-shadow: rgba(65, 65, 65, .15) 0 0 .5em inset, rgba(65, 65, 65, .9) 1px 1px 1px;
        border-radius: .15em;
        height: 2em;
        width: 2em;
        display: block;
        float: right;
        padding: .5em;
        margin: .5em;

        &:hover {
            box-shadow: rgba(65, 65, 65, .05) 0 0 2px inset;
        }
    }

    &.info-message {
        background-color: $color-info;
        background-color: fadeout($color-info, $fade-out-background);
        border-color: $color-info-dark;
        color: $color-info-font;
    }

    &.warning-message {
        background-color: $color-warning;
        background-color: fadeout($color-warning, $fade-out-background);
        border-color: $color-warning-dark;
        color: $color-warning-font;
    }

    &.error-message {
        background-color: $color-error;
        background-color: fadeout($color-error, $fade-out-background);
        border-color: $color-error-dark;
        color: $color-error-font;
    }

    &.success-message {
        background-color: $color-success;
        background-color: fadeout($color-success, $fade-out-background);
        border-color: $color-success-dark;
        color: $color-success-font;
    }
}